/*------Section start, about, contact----------*/
.start{
	background: url(../assets/img/main.jpg) no-repeat center;
	background-size: cover;
	height: auto;
	width: 100%;
	padding: 220px 0 450px 0;
}

.contacts{
	background: url('../assets/img/contacts.jpg') no-repeat center;
}

.about{
	background: url(../assets/img/about.jpg) no-repeat center;
}

.about,
.contacts{
	margin-top: 100px;
	padding: 110px 0 460px 0;
	width: 100%;
	height: auto;
	background-size: cover;
}

.start__container,
.about__container, 
.contact__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.start__desc,
.about__desc, 
.contact__desc{
	text-align: right;
	font-size: 24px;
	font-style: italic;
}

.start__desc span, 
.about__desc span, 
.contact__desc span{
	font-weight: 700;
	font-size: 28px;
}

.start__title, 
.about__title, 
.contact__title{
	font-style: italic;
	text-transform: uppercase;
	font-size: 32px;
}

.start__newcar, 
.about__newcar, 
.contacts__content{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.contact__item,
.about__item,
.start__item{
	display: flex;
	column-gap: 20px;
}

.contact__item img,
.about__item img,
.start__item img{
	width: 100px;
	height: auto;
}

.button{
	padding: 16px 50px;
	border: 2px solid rgb(65, 65, 250);
	border-radius: 10px;
	background-color: rgb(127, 127, 244);
	width: 50%;
	transition: all 0.5s ease-in-out;
}

.button a{
	font-size: 20px;
	font-weight: 500;
}

.button:hover{
	background-color:rgb(95, 95, 249);
	cursor: pointer;
}
/*--------Section start, about, contact end----------------*/



/*--------Section cars start-----------*/
.cars{
	margin-top: 100px;
	color: black;
}

.cars__container{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.cars__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.cars__title{
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 12px;
}

.car__item{
	display: flex;
	flex-direction: column;
}

.cars__button{
	width: 30%;
	position: relative;
	left: 70%;
}
/*--------Section cars end-------------*/


/*--------Section service start--------*/
.service{
	margin-top: 100px;
}

.service__title{
	color: black;
	text-align: center;
	letter-spacing: 16px;
	font-size: 32px;
	font-weight: 700;
}

.service__container{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.service__items{
	display: flex;
	column-gap: 60px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.service__item{
	position: relative;
}

.service__desc{
	position: absolute;
	left: 5%;
	top: 5%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.service__desc span{
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
}

.service__item img{
	border-radius: 10px;
	width: 100%;
	object-fit: cover;
}

.service__item:hover{
	transform: scale(1.1);
	transition: all 1s ease-in-out;
	cursor: pointer;
}

.bg-fon{
	background-color:rgba(0,0,0,.4);
	height: 99%;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	border-radius: 10px;
}

.service__button{
	margin: 0 auto;
	width: 30%;
}
/*--------Section service end----------*/